$wcontainer: 920px;
$wrow: 10px;
$wcol: 10px;
$container: 620px;
$row: 10px;
$col: 10px;

$fontstack : 'Arial, sans-serif';

$colorbody: #FFFFFF;
$colorheader: #FFFFFF; 
$colorfooter: #FFFFFF; 
$colorlinks: #AAA38E; 

$colorheadings: #000000; 
$colortext: #000000; 

$colorbtn01: #AAA38E; 
$colorbtn01Hvr: #6c654f; 
$colorbtn01Txt: #000000;
$colorbtn01TxtHvr: #FFFFFF; 

$colorbtn02: #d6d6d6; 
$colorbtn02Hvr: #6f6f6f; 
$colorbtn02Txt: #000000;
$colorbtn02TxtHvr: #FFFFFF; 

$colorbtn03: #AAA38E; 
$colorbtn03Hvr: #6c654f; 
$colorbtn03Txt: #000000;
$colorbtn03TxtHvr: #FFFFFF; 

$colorbtn04: #AAA38E; 
$colorbtn04Hvr: #6c654f; 
$colorbtn04Txt: #000000; 
$colorbtn04TxtHvr: #FFFFFF; 

$c01: #000000; 
$c02: #6f6f6f; 
$c03: #AAA38E; 
$c04: #e5e3dd; 
$c05: #6c654f; 
$c06: #FFFFFF; 
$c07: #f2f2f2; 
$c08: #FFFFFF; 
$c09: #F6F6F6; 
$c10: #dee3eb;