<!-- Break - Begin -->
<table class="section" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <th align="center" valign="top" class="t0 vat bg-{{.Get `btmcolor`}}">
        <table class="minwidth100" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tr><th class="row-bar bg-{{.Get `topcolor`}} h14">&nbsp;</th></tr>
            <tr><th class="row-bar bg-{{.Get `bar1color`}}">&nbsp;</th></tr>
            <tr><th class="row-bar bg-{{.Get `bar2color`}}">&nbsp;</th></tr>
        </table>
        </th>
        <th width="42" align="center" valign="top" class="t0 vat">
        <table class="" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tr><th class="t0 bg-{{.Get `topcolor`}}"><img class="arrow-circle" src="/img/circle-arrow-top-42x14-2x.png" width="42" height="14" alt="" border="0"></th></tr>
            <tr><th class="t0 bg-{{.Get `bar1color`}}"><img class="arrow-circle" src="/img/circle-arrow-mid1-42x7-2x.png" width="42" height="7" alt="" border="0"></th></tr>
            <tr><th class="t0 bg-{{.Get `bar2color`}}"><img class="arrow-circle" src="/img/circle-arrow-mid2-42x7-2x.png" width="42" height="7" alt="" border="0"></th></tr>
            <tr><th class="t0 bg-{{.Get `btmcolor`}}"><img class="arrow-circle" src="/img/circle-arrow-btm-42x14-2x.png" width="42" height="14" alt="" border="0"></th></tr>
        </table>
        </th>
        <th align="center" valign="top" class="t0 vat bg-{{.Get `btmcolor`}}">
        <table class="minwidth100" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tr><th class="row-bar bg-{{.Get `topcolor`}} h14">&nbsp;</th></tr>
            <tr><th class="row-bar bg-{{.Get `bar1color`}}">&nbsp;</th></tr>
            <tr><th class="row-bar bg-{{.Get `bar2color`}}">&nbsp;</th></tr>
        </table>
        </th>
    </tr>
</table>
<!-- Break - End -->
                        