<!-- Break - Begin -->
<table class="section bg-{{.Get `bgcolor`}}" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr><th class="row-bar bg-green-5" align="center" valign="middle">&nbsp;</th></tr>
</table>
<table class="section" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <th align="center" valign="top" class="t0 vat bg-white">
        <table class="minwidth100" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tr><th class="row-bar bg-green-4">&nbsp;</th></tr>
            <tr><th class="row-bar bg-green-3">&nbsp;</th></tr>
            <tr><th class="row-bar bg-green-2">&nbsp;</th></tr>
            <tr><th class="row-bar bg-green-1">&nbsp;</th></tr>
        </table>
        </th>
        <th width="42" align="center" valign="top" class="t0 vat">
        <table class="" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tr><th class="t0 bg-green-4"><img class="arrow-circle" src="/img/circle-arrow-top1-42x14-2x.png" width="42" height="7" alt="" border="0"></th></tr>
            <tr><th class="t0 bg-green-3"><img class="arrow-circle" src="/img/circle-arrow-top2-42x14-2x.png" width="42" height="7" alt="" border="0"></th></tr>
            <tr><th class="t0 bg-green-2"><img class="arrow-circle" src="/img/circle-arrow-mid1-42x7-2x.png" width="42" height="7" alt="" border="0"></th></tr>
            <tr><th class="t0 bg-green-1"><img class="arrow-circle" src="/img/circle-arrow-mid2-42x7-2x.png" width="42" height="7" alt="" border="0"></th></tr>
            <tr><th class="t0 bg-white"><img class="arrow-circle" src="/img/circle-arrow-btm-42x14-2x.png" width="42" height="14" alt="" border="0"></th></tr>
        </table>
        </th>
        <th align="center" valign="top" class="t0 vat bg-white">
        <table class="minwidth100" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tr><th class="row-bar bg-green-4">&nbsp;</th></tr>
            <tr><th class="row-bar bg-green-3">&nbsp;</th></tr>
            <tr><th class="row-bar bg-green-2">&nbsp;</th></tr>
            <tr><th class="row-bar bg-green-1">&nbsp;</th></tr>
        </table>
        </th>
    </tr>
</table>
<!-- Break - End -->

                        