<!-- Break - Begin -->
<table class="section {{.Get `bgcolor`}}" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <th align="center" valign="middle">
            <table class="{{.Get `bgcolor`}}" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
			    <tr><th class="row-bar {{.Get `bar1color`}}" align="center" valign="middle">&nbsp;</th></tr>
			    <tr><th class="row-bar {{.Get `bar2color`}}" align="center" valign="middle">&nbsp;</th></tr>
			</table>
        </th>
        <th align="center" valign="middle">
            <table class="container" align="center" cellspacing="0" cellpadding="0" border="0" width="620">
                <tr>
                    <th align="center" width="100%" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <th class="content">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        {{ .Inner }}
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </th>
                </tr>
            </table>
        </th>
        <th align="center" valign="middle">
            <table class="{{.Get `bgcolor`}}" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
			    <tr><th class="row-bar {{.Get `bar1color`}}" align="center" valign="middle">&nbsp;</th></tr>
			    <tr><th class="row-bar {{.Get `bar2color`}}" align="center" valign="middle">&nbsp;</th></tr>
			</table>
        </th>
    </tr>
</table>
<!-- Break - End -->