<!-- Break - Begin -->
<table class="section" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <th class="break-content-sides vab" align="center" valign="bottom">
            <table class="" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                <tr><th class="row-bar bg-green-5">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-4">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-3">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-2">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-1">&nbsp;</th></tr>
                <tr><th class="row-bar-pad bg-white h130" align="center">&nbsp;</th></tr>
			</table>
        </th>
        <th class="break-content" align="center" valign="middle" width="530">
            <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <th align="center" width="100%" valign="top">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <th>
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <th class="t0">{{ .Inner }}</th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </th>
                </tr>
            </table>
        </th>
        <th class="break-content-sides vab" align="center" valign="bottom">
            <table class="" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
			    <tr><th class="row-bar bg-green-5">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-4">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-3">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-2">&nbsp;</th></tr>
                <tr><th class="row-bar bg-green-1">&nbsp;</th></tr>
                <tr><th class="row-bar-pad bg-white h130" align="center">&nbsp;</th></tr>
			</table>
        </th>
    </tr>
</table>
<!-- Break - End -->