<div width="230" class="btn-wrap"><table class="button-text" border="0" cellspacing="0" cellpadding="0" class="center-on-small" align="{{.Get `btnalign`}}">
  <tr>
    <td class="tc"><a href="{{.Get `btnurl`}}" target="_blank">{{ with .Get `btntext`}}{{ . | safeHTML }}{{ end }}</a></td>
    <th width="10" class="w10" valign="middle">&nbsp;</th>
    <td width="7" class="w7 h11 t0" valign="middle"><img src="/img/icon-chevron-rgt-14x22-2x.png" width="7" height="11" alt="" border="0" class="w7 h11"></td>
  </tr>
</table></div>