 <!-- Content - Splt : BEGIN -->
                        <table class="section bg-grey-6" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                            <tr>
                                <th class="p10r p10l bg-grey-6" align="center" valign="middle">
                                    <table class="content-container bg-grey-6" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tr>
                                            <th class="p10r p10l t0" align="center" valign="middle">
                                                <img src="http://placehold.it/580x230/D4D7DE/393A3D" width="580" height="230" alt="" border="0" class="fluid">
                                            </th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                        <table class="section bg-white" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                            <tr>
                                <th class="p10r p10l bg-white" align="center" valign="middle">
                                    <table class="content-container bg-white" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tr>
                                            <th class="p10r p10l t0"  align="center" valign="middle">
                                                <img src="http://placehold.it/580x130/D4D7DE/393A3D" width="580" height="130" alt="" border="0" class="fluid">
                                            </th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                        <!-- Content - Split : END -->